BODY 
{
    background:url("topic5.jpg")  no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-size: 30px;
	color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

table
{
    font-size: 27px;
}

td 
{
    border: 2px solid lightgray;
    text-align: center;
}

s 
{
    text-decoration-line:underline;
}

.hobbies_buttons
{
    margin: 25px auto;
    width: auto;
    max-width: 400px;
    border: 3px solid lightgray;
    border-radius: 100px;
    text-align: center;
    font-size: 30px;
}

.hobbies_buttons:hover
{
    cursor: pointer;
    color: gray;
    background-color:#fff;
}

.about_buttons
{
    text-decoration-line: none;
    margin: 25px;
    border: 3px solid lightgray;
    border-radius: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
}

.about_buttons:hover
{
    cursor: pointer;
    color: gray;
    background-color:#fff;
}

.studing_buttons
{
    margin: 25px auto;
    width: auto;
    max-width: 400px;
    border: 3px solid lightgray;
    border-radius: 100px;
    text-align: center;
    font-size: 30px;
}

.studing_buttons:hover
{
    cursor: pointer;
    color: gray;
    background-color:#fff;
}

.evalutions
{
    padding: 2%;
    color: goldenrod;
    text-align: center;
}

.evalutions_table
{
    width: 100%;
    max-width: 1000px;
    margin:auto;
}

.button
{
    cursor: pointer;
    border-radius: 20px;
    font-size: 25px;
}

.buttons
{
    padding: 3%;
    text-align: center;
}

.okey
{
    background-color: green;
}

.bad
{
    background-color: darkred;
}

.main_buttons
{
    text-decoration-line: none;
    margin: 25px;
    border: 3px solid lightgray;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
}

.main_buttons:hover
{
    cursor: pointer;
    color: gray;
    background-color:#fff;
}

.hobbies_img
{
    text-align: center;
}

.topbutton {
    width: auto;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    font-family: verdana;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.topbutton {
    border: 2px solid #ccc;
    background-color: rgb(112, 99, 133);
    color: #fff;
}

.bottombutton {
    border: 2px solid #ccc;
    background-color: rgb(112, 99, 133);
    color: #fff;
}

.topbutton:hover,
.bottombutton:hover {
    background-color: #aeafaa;
}

.bottombutton {
    visibility: visible;
    width: auto;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    font-family: verdana;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

a 
{
	color: goldenrod;
}
